<!DOCTYPE html>
<html>
    <head>
     <title>Unique Biao's Blog</title>   
    </head>
<body>
    <header>
        <h1><a href="/">Unique Biao's Blog</a></h1>
    </header>

    <article>
        <time>published: 10.07.2022, 11:34</time>
        <h2><a href="">My first post</a></h2>
        <p>REQUEST FOR INFORMATION.</p>
    </article>

    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My second post</a></h2>
        <p>I am a final year student in the department of marketing, Moshood Abiola Polytechnic, Abeokuta, Ogun state.

            I am currently conducting a research work on “Sales promotion as a Marketing strategy for small and medium scale business” which is part of the requirement for the award of higher National Diploma (HND) in Marketing.
            
            The questions in the questionnaire are designed to obtain information relating to the research topic from you, so as to facilitate the completion of the research work. I assure you that any information supplied will be used strictly for the research work and will be as well treated with utmost confidentiality.
            
            It would be appreciated if you can find time out of your tight schedule to respond to the questionnaire. Thank you for accepting to respond to the questionnaire.
            
            Thanks </p>
            
            Yours faithfully,</p>
            
            Omole Oluwadunsin Ezekiel.</p>
            
            </p>
    </article>
    
</body>
</html>